@media(max-width: 767px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
   
    .top{
        background-color: #E1FF8F;
        background-image:url(img/Vector.png), url(img/mobilstar2.png),url(img/mobilstar3.png),url(img/mobil.png),url(img/mobilstar5.png);
        background-position: right 0px top 0px, 37px 97px, 91px 64px, right 34px bottom 79px, right 86px bottom 125px;
        background-repeat: no-repeat;
        
    }
    .content{
        
        padding-top:147px ;
        &__title{
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: center;
            color: rgb(32, 32, 39);
            padding-bottom: 24px;
        }
        
        &__text{
            color: rgb(32, 32, 39);
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            padding-bottom: 36px;
        }
        &__link-box{
            display: flex;
            justify-content: center;
        }
        &__link{
            box-sizing: border-box;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background: rgb(32, 32, 39);
            width: 285px;
            height: 55px;
            padding: 16px 28px;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            letter-spacing: 0%;
            text-align: center;
            color: rgb(255, 255, 255);
            
        }
    }
    
    .animation{
        margin-top: 131px;
        height: 51px;
        background-color: rgb(188, 236, 48);
    }
    .for{
        display: none;
    }

    .main{
        background-image: none;
    }
    .list-games{
        padding-bottom: 48px;
        gap: 24px;
    }
    .block-games__heading{
        padding-top: 48px;
        padding-bottom: 48px;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px; 
    }
    .play{
        display: flex;
        flex-direction: column;
        &__imeg_1{
            order:  -1;
        }       
        &-info{
            grid-row: auto;
            grid-column: auto;
            padding: 16px;
            width: auto;
            &__name{
                padding-bottom: 16px;
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
                letter-spacing: 0px;
                text-align: left;
            }

            &__description{
                padding-bottom: 32px;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0px;
                text-align: left;
            }

            &__btn{
                
                width: 255px;
                height: 55px;
                font-size: 16px;
                font-weight: 600;
                line-height: 141.69%;
                letter-spacing: 0%;
                text-align: center;
            }
        }
    }
    
    
    
    .footer{        
        height: 100px;
        background-color: #BDED35;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        
    }
}

        
    
        
        
           
            
            