*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
  }
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
a{
    text-decoration: none;
}

.top{
    
    background-color: #E1FF8F;
    background-image:url(img/bigstar.png), url(img/star2.svg),url(img/star3.svg),url(img/star5.svg),url(img/star4.svg);
    background-position: 854px, 63px 94px, 156px 69px, 948px 538px, 1013px 568px;
    background-repeat: no-repeat;
    &__content{
    
        padding-top: 196px;
        
        
    }
    &__title{
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        color: rgb(32, 32, 39);
        padding-bottom: 24px;
    }
    
    &__text{
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 48px;
    }
    
    &__link{
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        width: 247px;
        height: 66px;
        padding: 16px 65px;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
        color: rgb(255, 255, 255);
        transition: 1s;
        &:hover{
            color: #000;
            background-color:rgb(255, 255, 255) ;
            transition: 1s;
        }
    }
}



.animation{
    margin-top: 156px;
    height: 90px;
    background-color: rgb(188, 236, 48);
}

.for{
    background-color: #202027;
    background-image: url(img/Star\ 1.png),url(img/Star\ 11.png),url(img/Star\ 12.png);
    background-position: 980px 120px, 25px 770px, 40px 822px;
    background-repeat: no-repeat;

}
.games{
    &__heading{
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 94px;
    }
    &__text{
        color: rgb(255, 255, 255);
        padding-top: 24px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }
    &-box{
        padding-bottom: 144px;
        padding-top: 72px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        gap: 32px;
        position: relative;
    }
    &-box__imeg{
        position: absolute;
        right: -122px;
        margin-top: -182px;
        z-index: 0;
    
    
    }
}



.game{
    z-index: 0;
    border-radius: 30px;
    grid-column: span 4;
    grid-row: span 6;
    background-color: rgb(255, 255, 255);
    transition: 1s;
    &:hover{
        transform: scale(1.1);
        transition: 1s;
    }
    &__info{
        padding: 32px 32px 32px 36px;
    }
    &__big1{
        grid-row: span 7;
    }
    &__big2{
        grid-row: span 5;
    }
    
    &__number{
        background-color: rgb(247, 247, 247);
        width: 79px;
        padding-top: 8px;
        padding-bottom: 10px;
        
        padding-left: 16px;
        padding-right: 16px;
        color: rgb(32, 32, 39);
        
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 0px;
        text-align: center;
        height: 18px;
        border-radius: 52px;
    }
    
    &__name{
        padding-top: 16px;
        color: rgb(32, 32, 39);
        
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
    }
}
.top2{
    background-image: url(./img/star7.png),url(./img/star6.png),url(./img/Star8.png),url(./img/Star10.png);
    background-position: right 123px top 93px, right 44px  top 126px,bottom 65px right 53px, bottom 45px right 141px;
    background-repeat: no-repeat;
    background-color: rgb(32, 32, 39);
}
.block-play{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 144px;
}
.play{
    
    border-radius: 30px;
    
    
    &__game{
        border-radius: 30px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    &__heading{
        padding-top: 46px;
        padding-bottom: 72px;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        color: rgb(255, 255, 255);
    }
    &__info{
        
        padding: 48px;
        
    }
    
       

    &__name{
        padding-bottom: 24px;
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0px;
        text-align: left;
        color: rgb(32, 32, 39);

    }
    &__description{
        padding-bottom: 36px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        color: rgb(32, 32, 39);
    }

    &__btn{
        width: 247px;
        height: 66px;
        border-radius: 60px;
        background: rgb(32, 32, 39);
        padding: 16px 28px;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
        color: rgb(255, 255, 255);
        transition: 1s;
        &:hover{
            background-color:rgb(255, 255, 255) ;
            border: 1px solid rgb(0, 0, 0);
            color: #000;
            transition: 1s;
        }
    }
}


.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    background-color: #BDED35;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    
}
@import 'mobile';